#image_0{background-image:url('Result.png'); background-position:0px -0px; width:150px; height:150px; }
#image_1{background-image:url('Result.png'); background-position:150px -0px; width:150px; height:150px; }
#image_2{background-image:url('Result.png'); background-position:300px -0px; width:150px; height:150px; }
#image_3{background-image:url('Result.png'); background-position:450px -0px; width:150px; height:150px; }
#image_4{background-image:url('Result.png'); background-position:600px -0px; width:150px; height:150px; }
