body {
  background-color: rgb(48, 5, 53);
  margin: 0;
  padding: 0;
  transition: all 300ms;
}

.boxes {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-gap: 2px;
}

.box {
  color: transparent;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  width: 66px;
  height: 60px;
  transition: all 700ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.moves {
    font-family: cursive;
  display: none;
  /* text-transform: capitalize; */
  color: white;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moves-left {
  margin-left: 10px;
}
.pallet {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-1 {
  /* display: none; */
  border: solid 1px rgb(180, 168, 168);
  border-radius: 6px;
  width: 70px;
  height: 40px;
  background-color: lightseagreen;
  margin: 10px;
  transition: all 500ms;
}
.color-2 {
  /* display: none; */
  border: solid 1px rgb(180, 168, 168);
  border-radius: 6px;
  width: 70px;
  height: 40px;
  background-color: lightpink;
  margin: 10px;
  transition: all 500ms;
}
.color-3 {
  border: solid 1px rgb(180, 168, 168);
  border-radius: 6px;
  width: 70px;
  height: 40px;
  background-color: lightgreen;
  margin: 10px;
  transition: all 500ms;
}
.color-4 {
  border: solid 1px rgb(180, 168, 168);
  border-radius: 6px;
  width: 70px;
  height: 40px;
  background-color: lightblue;
  margin: 10px;
  transition: all 500ms;
}
.color-5 {
  /* display: none; */
  border: solid 1px rgb(180, 168, 168);
  border-radius: 6px;
  width: 70px;
  height: 40px;
  background-color: lightgoldenrodyellow;
  margin: 10px;
  transition: all 500ms;
}

.active {
  border: 1px solid white;
  transform: scale(1.4);
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
}

.WinOrLose {
  display: none;
  font-size: 40px;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  opacity: 0.8;
  background-color: black;
  width: 100%;
  min-height: 150%;
  z-index: 1;
}

.level-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.prev-level{
    cursor: pointer;
    font-weight: bold;
    padding: 30px;
    font-size: 40px;
    color: #fd3737;
    transition: all 500ms;
}
.prev-level:hover{
    transform: translateX(-20px);
}
.next-level{
    cursor: pointer;
    font-weight: bold;
    padding: 30px;
    font-size: 40px;
    color: rgb(48, 255, 48);
    transition: all 500ms;   
}
.next-level:hover{
    transform: translateX(20px); 
}

.refresh-level{
    cursor: pointer;
    font-weight: bold;
    padding: 30px;
    font-size: 40px;
    color: rgb(255, 26, 255);
    transition: all 800ms;
}
.refresh-level:hover{
    transform: rotate(180deg);
}

.Game-level {
    font-family: cursive;;
    font-size: 25;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1.5px white;
  transition: all 500ms;
  z-index: 2;
  border-top: none;
  border-bottom: none;
}

.Game-level:hover{
    transform: scale(1.2);

}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message{
    display: flex;
    align-items: center;
    color: white;
    margin-top: 20px;
    font-family: cursive;
    font-size: 15px;
    z-index:2;
}
.smile{
    padding: 15px;
    font-size: 30px;
    transition: all 500ms;
}
.smile:hover{
    color: rgb(254, 254, 124);
    transform: rotate(180deg);
}