#image_0{background-image:url('Result.png'); background-position:0px -0px; width:231px; height:190px; }
#image_1{background-image:url('Result.png'); background-position:231px -0px; width:231px; height:190px; }
#image_2{background-image:url('Result.png'); background-position:462px -0px; width:231px; height:190px; }
#image_3{background-image:url('Result.png'); background-position:693px -0px; width:231px; height:190px; }
#image_4{background-image:url('Result.png'); background-position:924px -0px; width:231px; height:190px; }
#image_5{background-image:url('Result.png'); background-position:1155px -0px; width:231px; height:190px; }
#image_6{background-image:url('Result.png'); background-position:1386px -0px; width:231px; height:190px; }
#image_7{background-image:url('Result.png'); background-position:1617px -0px; width:231px; height:190px; }
