body{  
    font-size:15px;
    display: flex;
    justify-content: center;
     background-color: #171719;
    background-image: linear-gradient(
        30deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        150deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        30deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        150deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        60deg,
        #111111 25%,
        transparent 25.5%,
        transparent 75%,
        #111111 75%,
        #111111
      ),
      linear-gradient(
        60deg,
        #111111 25%,
        transparent 25.5%,
        transparent 75%,
        #111111 75%,
        #111111
      );
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    color: rgb(0, 0, 0);
}

.app-wrapper{
    margin-top: 100px;
    height: fit-content;
    padding: 40 100;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    line-height: 0;

}

.grocery-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear-btn{
    text-align: center;
}

.alert{
    font-size: 20px;
    border-radius: 10px;
    padding:1 10;
    text-align: center;
    position: absolute;
    top: 1;
    left: 10%;
    right: 10%;
}

.alert-fail{
    color: rgb(189, 9, 141);
    background: rgb(243, 97, 97);
    padding: 10px;
}
.alert-success{
    color: rgb(189, 9, 141);
    background: rgb(168, 238, 203);
    padding: 10px;
}

.gorcery-container{
    visibility: hidden;
}

.show-container{
    visibility: visible;
}

.delete-btn{
    border: none;
    background: transparent;
    color: rgb(189, 9, 141);
    font-size: 20px;
}

.edit-btn{
    border: none;
    background: transparent;
    color: rgb(189, 9, 141);
    font-size: 20px;
}
.clear-btn{
    margin-top:20px;
    border: none;
    background: transparent;
    color: rgb(189, 9, 141);
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.submit-btn{
    background-color: white;
    color: rgb(189, 9, 141);
    font-size: 20px;
}
.form-control input{
    font-size: 20px;
    color: rgb(189, 9, 141);

}
.form-control label{
    font-size: 20px;
    color: rgb(189, 9, 141);

}
