#image_0{background-image:url('Result.png'); background-position:0px -0px; width:140px; height:140px; }
#image_1{background-image:url('Result.png'); background-position:140px -0px; width:140px; height:140px; }
#image_2{background-image:url('Result.png'); background-position:280px -0px; width:140px; height:140px; }
#image_3{background-image:url('Result.png'); background-position:420px -0px; width:140px; height:140px; }
#image_4{background-image:url('Result.png'); background-position:560px -0px; width:140px; height:140px; }
#image_5{background-image:url('Result.png'); background-position:700px -0px; width:140px; height:140px; }
