body{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 1px;
    background-color: #171719;
    background-image: linear-gradient(
        30deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        150deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        30deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        150deg,
        #000 12%,
        transparent 12.5%,
        transparent 87%,
        #000 87.5%,
        #000
      ),
      linear-gradient(
        60deg,
        #111111 25%,
        transparent 25.5%,
        transparent 75%,
        #111111 75%,
        #111111
      ),
      linear-gradient(
        60deg,
        #111111 25%,
        transparent 25.5%,
        transparent 75%,
        #111111 75%,
        #111111
      );
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

canvas{
    width: 500px;
    height:500px;
    background-color:rgb(97, 97, 97);

}