body {
  background-color: rgb(45, 2, 102);
  padding: 0;
  margin: 0;
  background-color: #171719;
  background-image: linear-gradient(
      30deg,
      #000 12%,
      transparent 12.5%,
      transparent 87%,
      #000 87.5%,
      #000
    ),
    linear-gradient(
      150deg,
      #000 12%,
      transparent 12.5%,
      transparent 87%,
      #000 87.5%,
      #000
    ),
    linear-gradient(
      30deg,
      #000 12%,
      transparent 12.5%,
      transparent 87%,
      #000 87.5%,
      #000
    ),
    linear-gradient(
      150deg,
      #000 12%,
      transparent 12.5%,
      transparent 87%,
      #000 87.5%,
      #000
    ),
    linear-gradient(
      60deg,
      #111111 25%,
      transparent 25.5%,
      transparent 75%,
      #111111 75%,
      #111111
    ),
    linear-gradient(
      60deg,
      #111111 25%,
      transparent 25.5%,
      transparent 75%,
      #111111 75%,
      #111111
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
li {
  transition: all 300ms;
}
li:hover {
  color: rgb(37, 171, 216);
}
a {
  color: rgb(37, 165, 216);
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  transition-duration: 300ms;
  text-transform: capitalize;
}
a:hover {
  color: rgb(85, 85, 85);
  text-decoration: none;
}
h2 {
  color: white;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-holder {
  border-radius: 8px;
  position: relative;
  padding: 0;
  cursor: pointer;
  text-align: center;
  height: 240px;
  margin: 20px;
  background-image: url(../images/Logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 2px rgb(37, 165, 216);
  transition: all 500ms;
}
.box-holder:hover {
  transform: scale(1.1);
}
.box-holder-span {
  color: white;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(#ffffff, #1d75be);
  padding: 10px;
}

.nav-toggle {
  position: absolute;
  right: 30;
  background-color: transparent;
  border: none;
}
.links {
  font-size: 25px;
  height: 0;
  overflow: hidden;
  color: white;
  list-style: none;
  transition: all 1000ms;
}
.links a {
  color: rgb(37, 165, 216);
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  transition-duration: 300ms;
  text-transform: capitalize;
}

.links a:hover {
  color: aquamarine;
}
.show-links {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.nav-header img {
  width: 65px;
  border-radius: 50%;
}

.nav-center {
  padding: 0 30px;
  margin-top: 20px;
}
.active {
  color: rgb(37, 165, 216);
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  transition-duration: 300ms;
  text-transform: capitalize;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 2fr));
  grid-gap: 15px;
}
.tag-holder {
  font-size: 25px;
  position: absolute;
  align-items: start;
  display: flex;
  gap: 5px;
  top: 6px;
  left: 10px;
  width: 100%;
}
.icons-holder img{
  width: 100%;
}
.icons-holder {
 width:22px;
 height:22px;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .nav-header {
    display: flex;
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .links li + li {
    padding-left: 20px;
  }

  .nav-header {
    align-items: center;
    justify-content: space-between;
  }
}

/*  new Styles here */
